body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7ed;
  --bs-dropdown-link-active-bg: #a50021 !important;
  --bs-font-sans-serif: "Funnel Sans", sans-serif !important;
}

a {
  text-decoration: none;
}
code {
  font-family: "Funnel Sans", sans-serif;
}
